* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #f3a245;
    --color2: #0079a8;
    --color3: #39b2b2;
    --color4: #a3d4dd;
    --color5: #680087;
}

.title {
    color: var(--color5);
    font-size: 55px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}

/* style navigation*/
header {
    padding: 20px 35px;
    height: 190px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: static;
    top: 0;
    background-image: url(../images/pencils.jpg);
    background-size: cover;
    background-position: center;
    background-position: 80%;
    z-index: 9999;
    color: var(--color5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
header h1 {
    font-weight: bold;
    font-size:50px;
    color: var(--color5);
    margin: 0;
    text-shadow: 4px 4px 5px  rgba(0, 0, 0, 0.5);
}
    
header a {
    text-decoration: none;
    color: var(--color5);
}
    
header nav {
    margin: 7px 0;
}
    
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
    
header nav ul li a {
    padding: 10px 15px;
    font-weight: bolder;
    font-size: 20px;
    background-color: var(--color4);
    background-color: rgba(163,212,221,.5);
    border-radius: 15px;
}
    
header nav ul li a:hover {
    background: var(--color3);
    color: var(--color5);
    border-radius: 15px;
}

/* about me */
.info{
    background-color: var(--color3);
    padding: 20px;
    color: var(--color1);
    width: 100%;
    text-align: center;
    margin: 0;
    color: var(--color4);
    font-size: 18 px;
    line-height: 1.2;
}

.info h2 {
    font-style: italic;
    font-size: 40px;
    color: var(--color4);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about p {
    font-size: 25px;
    color: var(--color4);
    padding-left: 50px;
    padding-right: 50px;

}



/* samples */
.work {
    background-color: var(--color3);
}

.samples {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: var(--color3);
}

.sample {
    margin: 20px;
    background: var(--color3);
    color: var(--color4);
    flex: 1;
}

.sample img {
    width: 100%;
    position: relative;
}

.sample span {
    background: var(--color3);
    color: var(--color4);
    margin-top: auto;
    width: 100%;
    padding: 10px 5px;
    text-align: center;
    font-size: 25px;
}

.flex-row {
    background: var(--color3);
}


/* contact info */
.contact{
    background-color: var(--color3);
}

.row{
    flex:wrap;
    display: -webkit-flex;
    display: flex;
    color: var(--color4);
    background-color: var(--color3);
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}

.contact-info {
    background-color: var(--color3);
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: var(--color1)
  }
  
  .column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
   }
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }


/* style footer */

.date {
    margin: 0;
    position: relative;
    text-align: center;
    background-color: var(--color4);
    padding: 5px;
}
.date img {
    width: 30%;
    height: auto;
} 
.year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 25px;
}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1024px) {
    /* this will be applied on any screen smaller than 1024px */
    
    .year{
        font-size: 20px;
    }
    .sample {
        flex: 0 0 40%;
    }
    header h1 {
        font-size:40px;
        text-shadow: 3px 3px 5px  rgba(0, 0, 0, 0.5);
    }

    header nav ul li a {
        font-size: 15px;
    }

    .title {
        font-size: 45px;
    }

    .row {
        font-size: 23px;
    }
}
  
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 775px) {
    /* this will be applied on any screen between 1024px and 775px */
     
    .year{
        font-size: 15px;
    }
    .sample {
        flex: 0 0 75%;
    }
    header h1 {
        font-size:35px;
        text-shadow: 3px 3px 5px  rgba(0, 0, 0, 0.5);
    }

    header nav ul li a {
        font-size: 12px;
    }

    .title {
        font-size: 35px;
    }

    .row {
        font-size: 20px;
    }
}
  
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 520px) {
    /* this will be applied on any screen smaller than 775px */
    .year{
        font-size: 12px;
    }

    header h1 {
        font-size:30px;
        text-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.5);
    }

    header nav ul li a {
        font-size: 11px;
    }

    .sample {
        flex: 100%;
    }

    .title {
        font-size: 30px;
    }

    .row {
        font-size: 18px;
    }
}